h1 {text-align: center;
        padding:  40px;
        background-color: rgb(42, 119, 3);}
h2 {text-align: center;
    padding: 20px;
    color: darkblue;}
    img {display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50px;
         height: 50px;}
nav {text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: aquamarine;}
    a {margin: 20px;
       text-decoration: none;
       font-weight: bold;
       color: rgb(63, 135, 190);}
img.broco {width: 300px;
        height: 300px;
        border-radius: 20px;}
        footer {text-align: right;
            margin: 20px;}
            section {margin: 20px;
                padding: 20px;
                border: 2px solid rgb(0, 0, 0);
                background-color: lightgray;}
.field {display: block;
        margin: 10px;
        padding: 10px;
        width: 50%;}