html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
h1 {text-align: center;
        padding:  40px;
        background-color: rgb(42, 119, 3);}
h2 {text-align: center;
    padding: 20px;
    color: darkblue;}
    img {display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50px;
         height: 50px;}
nav {text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: aquamarine;}
    a {margin: 20px;
       text-decoration: none;
       font-weight: bold;
       color: rgb(63, 135, 190);}
img.broco {width: 300px;
        height: 300px;
        border-radius: 20px;}
        footer {text-align: right;
            margin: 20px;}
            section {margin: 20px;
                padding: 20px;
                border: 2px solid rgb(0, 0, 0);
                background-color: lightgray;}
.field {display: block;
        margin: 10px;
        padding: 10px;
        width: 50%;}
section {
    margin: 20px;
    padding: 30px 20px 20px;   /* add extra top padding */
    border: 2px solid #000;
    background-color: lightgray;
    position: relative;
}

.label {
    position: absolute;
    top: -14px;               /* sits over the border */
    left: 50%;                /* move to center */
    padding: 0 12px;
    font-weight: bold;
}
.latest-episodes {

    margin-top: auto;
}
footer {
    margin-top: 0;
}
audio {
    display: block;
    margin: 20px auto;
    align-self:middle;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid black;
}
td,th {
    border: 1px solid black;
    padding: 8px 12px;
}
