html, body {
    height: 100%;
    margin: 0;
    background-color: #69034c;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
h1 {text-align: center;
        padding:  40px;
        background-color: rgb(42, 119, 3);}
h2 {text-align: center;
    padding: 20px;
    color: darkblue;}
    img {display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50px;
         height: 50px;}
nav {text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: aqua;}
    a {margin: 20px;
       text-decoration: none;
       font-weight: bold;
       color: rgb(87, 143, 248);}
img.broco {width: 300px;
        height: 300px;
        border-radius: 20px;}
        footer {text-align: right;
            margin: 20px;}
            section {margin: 20px;
                padding: 20px;
                border: 2px solid rgb(0, 0, 0);
                background-color: lightgray;}
.field {display: block;
        margin: 10px;
        padding: 10px;
        width: 50%;}
section {
    margin: 20px;
    padding: 30px 20px 20px;   /* add extra top padding */
    border: 2px solid #000;
    background-color: lightgray;
    position: relative;
}
fieldset {
    margin: 20px;
    padding: 30px 20px 20px;   /* add extra top padding */
    border-top: 2px solid #000 ;
    position: relative;
}
legend {
   padding: 0 10px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 20%;
    border-right: 2px solid #000;
    border-left: 2px solid #000;

}
.latest-episodes {

    margin-top: auto;
}
footer {
    margin-top: 0;
}
audio {
    display: block;
    margin: 20px auto;
    align-self:middle;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid black;
}
td,th {
    border: 1px solid black;
    padding: 8px 12px;
}
.scroll {
    max-height: 100px;
    overflow-y: scroll;
}
nav a{
    border: none;
    padding: 10px;
    background-color: rgb(203, 133, 3); 
    border-radius: 20px;
    color: white;
}

/* Style the episodes table specifically */
table.episodes-table thead tr {
    background-color: #4CAF50;
}

table.episodes-table thead th {
    color: white;
    font-weight: bold;
}

/* Highlight odd rows in the table body */
table.episodes-table tbody tr:nth-child(odd) {
    background-color: #fa1500;
}

table.episodes-table a{
    color :black;
}
    